/* .App {
  background-color: rgb(212, 29, 38);
  text-align: center;
  margin-top: 150px;
  padding:250px 750px 466px 98px;
  width: 900px;
  height: 700;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO0piLqBF6WnhaXTPXrP1O1jNAKkL5fd4VPeh2oah1CQ&usqp=CAU&ec=48665701);
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
